<!doctype html>
<html>
    <head>
        <style>
            .error { color: red; }
        </style>
    </head>
    <body>
        
        <form action="/password" method='POST'>
            <label>Password (8-20 characters)
                <input name="password" type="text" value='{{password}}' />
            </label>
            <p class="error">{{length_error}}</p>
            <label>Verify Password
                <input name="verify_password" type="text" value='{{verify_password}}' />
            </label>
            <p class="error">{{match_error}}</p>
            <input type="submit" value="Validate" />
        </form>
    </body>
</html>